<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <h1>Bem Vindo ao Bucho Cheio</h1>
        <p>
            {{ message }}
        </p>
        <form action="/logout" method="post">
            <button type="submit">Logout</button>
        </form>
        <a href="/reservation">
            <button type="button">Realizar Reserva</button>
        </a>
        <a href="/checkin">
            <button type="button">Abrir QR Code</button>
        </a>
        <a href="/admin">
            <button type="button">Painel do ADM</button>
        </a>
</body>
</html>