<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Cadastro de Vagas</h1>
    <div>
        <a href="/home">
            <button type="button">Home</button>
        </a>
        <a href="/admin">
            <button type="button">Painel</button>
        </a>
    </div>
    <h5>Preencha a data e a quantidade de vagas</h5>
    <p>
        {{
            message 
        }}
    </p>
    <form action="/vacancies" method="post">
        <div>
            <label for="date">Data:</label>
            <input type="date" name="date" required/>
        </div>
        <div>
            <label for="quantity">Quantidade de Vagas:</label>
            <input type="number" name="quantity" required/>
        </div>
        <div>
            <button type="submit">Cadastrar Vagas</button>
        </div>
    </form>
</body>
</html>